.login{
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    background: white;
    height: auto;
    width: 400px;
    border-radius: 20px;
    padding: 20px;

    justify-content: center;
    align-items: center;
    text-align: center;
}

#logo{
    width: 200px;
    height: auto;
}

h1{
    font-size: 30px;
    color: #03ABC9;
}

#data{
    color: #575A62;
}

p{
    color:#575A62;
    font-size: 13px;
}
#hp{
    margin-bottom: 0;
    
}

strong{
    color: #1ad5f7;
}

#ayuda{
    color: #acf831;
    font-size: 13px;
     
}

a{
    text-decoration: none;  
}

.custom-google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    background-color: #8CC63E; /* Color de fondo de Google */
    color: white;
    padding: 15px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 300px;
    text-align: center;
    transition: background-color 0.3s;
    border-radius: 30px;
}

.custom-google-button:hover {
    background-color: #1ad5f7; /* Color de fondo en hover */
}

.custom-google-button:active {
    background-color: #2a65d3; /* Color de fondo al presionar */
}

#google{
    width: 20px;
    height: auto;
    padding-right: 10px;
}
#inicio{
    font-weight: bold;
}


